body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:white;
    padding: 20px;
    margin-top: 80px;
    color:white; /* Adjust this value to match the height of your navbar */
}

section {
    background-color:black;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 300px;
    max-width: 300px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
     ;
}

.icons i {
    font-size: 40px;
    color:orange;
    transition: color 0.3s;
}

.icons i:hover {
    color: #007BFF;
}
